<div id="content">
	<h1>Hi. Thanks for stopping by. My name is <span style="color: #00f">Ben Bixby</span> and I'm the CEO of <a href="http://www.earthaid.net" target="_blank">Earth Aid</a>.</h1>
	<h2>I've created this app to improve my Rails 3 skills without breaking anything on any important apps currently live elsewhere on the interwebs.</h2>
	<p style="text-align: center">Here's where you can connect with me elsewhere on the interwebs:</p>
	<div id="networks">
		<%= link_to image_tag("GitHub_Icon.png"), "http://github.com/benbixby" %><%= link_to image_tag("Forrst_Icon.png"), "http://forrst.com/people/earthaid" %><%= link_to image_tag("Linkedin_Icon.png"), "http://www.linkedin.com/in/benbixby" %><%= link_to image_tag("Facebook_Icon.png"), "http://www.facebook.com/benbixby" %><%= link_to image_tag("Twitter_Icon.png"), "http://twitter.com/benbixby" %>
	</div>
	<p style="text-align: center"><%= link_to "Work with me", "http://www.earthaidjobs.com" %>.</p>
</div>